<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>Warehouse</title>
<script type="text/javascript"> 
	function display_c(){
		var refresh=1000; // Refresh rate in milli seconds
		mytime=setTimeout('display_ct()',refresh)
	}

	function display_ct() {
		var x = new Date()
		document.getElementById('ct').innerHTML = x;
		display_c();
	}
</script>
</head>
<body onload="display_ct();">
	<link rel="stylesheet" href="{{ url_for('static',filename='styles/Main.css') }}" type="text/css">
	<div id="container">
		<main>
			<section class="half">
				<div class="navbar">
					<a href="/Main.html">Home</a>
					<div class="subnav">
						<button class="subnavbtn">Product <i class="fa fa-caret-down"></i></button>
						<div class="subnav-content">
						  <a href="/ShowProduct.html">Show Product</a>
						  <a href="/AddProduct.html">Add Product</a>
						  <a href="/DelProduct.html">Delete Product</a>
						  <a href="/EditProduct.html">Edit Product</a>
						</div>
					</div>
					<div class="subnav">
						<button class="subnavbtn">Customer <i class="fa fa-caret-down"></i></button>
						<div class="subnav-content">
							<a href="/ShowCustomer.html">Show Customer</a>
							<a href="/AddCustomer.html">Add Customer</a>
							<a href="/DelCustomer.html">Delete Customer</a>
							<a href="/EditCustomer.html">Edit Customer</a>
						</div>
					</div>
				    <div class="subnav">
						<button class="subnavbtn">Staff <i class="fa fa-caret-down"></i></button>
						<div class="subnav-content">
					  		<a href="/ShowStaff.html">Show Staff</a>
					  		<a href="/AddStaff.html">Add Staff</a>
					  		<a href="/DelStaff.html">Delete Staff</a>
					  		<a href="/EditStaff.html">Edit Staff</a>
						</div>
				    </div>
				    <div class="subnav">
						<button class="subnavbtn">Order <i class="fa fa-caret-down"></i></button>
						<div class="subnav-content">
					 		<a href="/ShowOrder.html">Show Order</a>
					  		<a href="/AddOrder.html">Add Order</a>
					  		<a href="/DelOrder.html">Delete Order</a>
					  		<a href="/EditOrder.html">Edit Order</a>
						</div>
				    </div>
				</div>
			</section>
			<section class="half">
          <form id="form1" name="EditCustomerList">
            <div><b><i>Current Date and Time is <span id="ct" ></span></i></b></div>
            <div><p></p></div>
            <div id="table-wrapper">
              <div id="table-scroll">
                <table>
                  <caption><b> Edit Customers </b></caption>
                  <thead>
                    <tr>
                     <th><span>Customer ID</span></th>
                     <th><span>Customer Name</span></th>
                     <th><span>Customer Last Name</span></th>
                     <th><span>Customer Address</span></th>
                     <th><span>Customer Post Code</span></th>
                     <th><span>Customer Age</span></th>
                    </tr>
                  </thead>
                  <tbody>
                    {% for row in Customer_list %}
                      <span class="trtbl">
                      <tr>
                       <td><a href="EditCustomer.html/{{ row[0] }}">{{ row[0] }}</a></td>
                       <td>{{ row[1] }}</td>
                       <td>{{ row[2] }}</td>
                       <td>{{ row[3] }}</td>
                       <td>{{ row[4] }}</td>
                       <td>{{ row[5] }}</td>
                      </tr>
                      </span>
                    {% endfor %}
                  </tbody>
                </table>
              </div>
            </div>
          </form>
         {% if exac_Customer != null  %}
         <form id="form2" name="EditCustomer" method="post">
           {% for row in exac_Customer %}
           <div><b>Customer ID: </b><input type="text" value="{{ row[0] }}" name="cid" id="cid" readonly title="This is a readonly field."></div>
          <div><b>First Name: </b><input type="text" value="{{ row[1] }}" name="fname" id="fname"></div>
          <div><b>Last Name: </b><input type="text" value="{{ row[2] }}" name="lname" id="lname"></div>
          <div><b>Street: </b><input type="text" value="{{ row[3] }}" name="cstreet" id="cstreet"></div>
          <div><b>Post Code: </b><input type="text" value="{{ row[4] }}" name="cpostcode" id="cpostcode" onkeypress="return (event.charCode !=8 && event.charCode ==0 || (event.charCode >= 48 && even    t.charCode <= 57))"></div>
          <div><b>age: </b><input type="number" name="cage" id="cage" value="{{ row[5] }}"></div>
           <input type="submit" value="Submit" name="submit">
           <input type="button" value="Cancel" name="cancel" onClick="location.href='/EditCustomer.html'">
           {% endfor %}
         </form>
         {% endif %}
			</section>
		</main>
	</div>
</body>
</html>
