<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>Warehouse</title>
<script type="text/javascript"> 
	function display_c(){
		var refresh=1000; // Refresh rate in milli seconds
		mytime=setTimeout('display_ct()',refresh)
	}

	function display_ct() {
		var x = new Date()
		document.getElementById('ct').innerHTML = x;
		display_c();
	}
</script>
</head>
<body onload="display_ct();">
	<link rel="stylesheet" href="{{ url_for('static',filename='styles/Main.css') }}" type="text/css">
	<div id="container">
		<main>
			<section class="half">
				<div class="navbar">
					<a href="Main.html">Home</a>
					<div class="subnav">
						<button class="subnavbtn">Product <i class="fa fa-caret-down"></i></button>
						<div class="subnav-content">
						  <a href="ShowProduct.html">Show Product</a>
						  <a href="AddProduct.html">Add Product</a>
						  <a href="DelProduct.html">Delete Product</a>
						  <a href="EditProduct.html">Edit Product</a>
						</div>
					</div>
					<div class="subnav">
						<button class="subnavbtn">Customer <i class="fa fa-caret-down"></i></button>
						<div class="subnav-content">
							<a href="ShowCustomer.html">Show Customer</a>
							<a href="AddCustomer.html">Add Customer</a>
							<a href="DelCustomer.html">Delete Customer</a>
							<a href="EditCustomer.html">Edit Customer</a>
						</div>
					</div>
				    <div class="subnav">
						<button class="subnavbtn">Staff <i class="fa fa-caret-down"></i></button>
						<div class="subnav-content">
					  		<a href="ShowStaff.html">Show Staff</a>
					  		<a href="AddStaff.html">Add Staff</a>
					  		<a href="DelStaff.html">Delete Staff</a>
					  		<a href="EditStaff.html">Edit Staff</a>
						</div>
				    </div>
				    <div class="subnav">
						<button class="subnavbtn">Order <i class="fa fa-caret-down"></i></button>
						<div class="subnav-content">
					 		<a href="ShowOrder.html">Show Order</a>
					  		<a href="AddOrder.html">Add Order</a>
					  		<a href="DelOrder.html">Delete Order</a>
					  		<a href="EditOrder.html">Edit Order</a>
						</div>
				    </div>
				</div>
			</section>
			<section class="half">
				<form id="form1" name="ShowProduct">
				  <div><b><i>Current Date and Time is <span id="ct" ></span></i></b></div>
				  <div><p></p></div>
					<div id="table-wrapper">
						<div id="table-scroll">
							<table>
								<thead>
									<tr>
										<th><span>Product ID</span></th>
										<th><span>Product Name</span></th>
										<th><span>Product Price</span></th>
										<th><span>Product Amount</span></th>
									</tr>
								</thead>
								<tbody>
									{% for row in product_list %}
										<span class="trtbl">
										<tr>
											<td>{{ row[0] }}</td>
											<td>{{ row[1] }}</td>
											<td>{{ row[2] }}</td>
											<td>{{ row[3] }}</td>
										</tr>
										</span>
									{% endfor %}
								</tbody>
							</table>
						</div>
					</div>
				</form>
			</section>
		</main>
	</div>
</body>
</html>
